.Navbar-container{
    background: #1c2237;

  display: flex;
  
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: white;
  padding-left: 20px;

}
.searchbar{
 
    
    margin-left: auto; 
    margin-right: 0;
    
    
    
    
}
input{
    width: 40vw;
    border: none;
    border-radius: 20px;
    padding: 10px;
    
}
.heading{

    
}
button{
    background-color: inherit;
    color: white;
    
    padding: 10px;
    border-radius: 10px;
     
    
}


